// app global css in SCSS form
$primary   : #666262;
$secondary : #941b1b;
$accent    : #9C27B0;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$primary2   : #666262;
$blue      : #2196F3;